<nav class="nav">
    <h1 class="nav-title">WHITE<br>CITY<br>PLACE</h1>
    <div class="nav-avatar">
        <div class="nav-avatar__image">
            <div class="nav-avatar__settings"></div>
        </div>
        <div class="nav-avatar__name">Name Surname</div>
    </div>
    <ul class="nav-list">
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">HOME</div>
        </li>
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">WHAT'S HAPPENING</div>
        </li>
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">LOCAL NEWS</div>
        </li>
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">NEWS</div>
        </li>
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">OFFERS</div>
        </li>
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">LIFESTYLE</div>
        </li>
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">BOOK A SPACE</div>
        </li>
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">RETAIL</div>
        </li>
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">NEIGHBOURS</div>
        </li>
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">CAREERS</div>
        </li>
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">BUILDING INFO</div>
        </li>
        <li>
            <div class="nav-list__icon"></div>
            <div class="nav-list__text">SIGN OUT</div>
        </li>
    </ul>
</nav>
